// Colors
// black
$black-1: #000000;
$black-2: #1F1F1F;
$black-3: #1A1A1A;

// white
$white-1: #FFFFFF;
$white-2: rgba(228, 228, 228, 0.774);

// grey
$grey-1: #212121;
$grey-2: #424242;
$grey-3: rgb(102, 102, 102);
$grey-4: rgb(155, 155, 155);

// red
$red-1: #ED1909;
$red-2: #FF2F56;

// green
$green-1: #08CBAA;

// yellow
$yellow-1: #FFD180;

// pink
$pink-1: #FF80AB;

// blue
$blue-1: #82B1FF;
$blue-2: #80D8FF;
$blue-3: #8C9EFF;

// purple
$purple-1: #EA80FC;
$purple-2: #B388FF;