@import '../../index.scss';

.button {
  background-color: $blue-1;
  border-radius: 10px;
  overflow: auto;
  position: relative;
  text-align: left;

  // margin and padding
  margin-top: 0px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;

  &_disabled {
    background-color: $grey-2 !important;
  }

  p {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
  };
}
.button:hover {
  cursor: pointer;
}